<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wakhid Pangestu | Social Link</title>
    <!-- Favicon -->
    <link rel="icon" href="../public/favicon.ico" type="image/x-icon" />
    <!-- Font Awesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!-- Core theme CSS -->
    <link rel="stylesheet" href="../src/pages/links/style.css">
  </head>

  <body>
    <!-- Parallax Pixel Background Animation -->
    <section class="animated-background">
      <div id="stars1"></div>
      <div id="stars2"></div>
      <div id="stars3"></div>
    </section>
    <!-- End of Parallax Pixel Background Animation -->

    <a id="profilePicture" href="#popup">
      <img src="../public/images/wakhid-pangestu.jpg" alt="Profile Picture">
    </a>

    <div class="overlay" id="popup">
      <div class="popup">
        <div class="popup-photo">
          <a href="../public/images/wakhid-pangestu.jpg" target="_blank">
            <img src="../public/images/wakhid-pangestu.jpg" alt="Profile Picture">
          </a>
        </div>
        <div class="popup-quote">
          Hello guys, my name is Wakhid Pangestu.I'm 18 y.o. My hobby is Coding. I'm a Student at SMKN 3 Depok. I'm a Junior Front-End Developer.
        </div>
        <a class="popup-close" onclick="history.back()">&times;</a>
      </div>
    </div>

    <div id="userName">
      @wakhidpangestu
    </div>

    <div id="links">
      <a class="link" href="https://github.com/hiddev-id" target="_blank">
        <i class="fab fa-github">&nbsp;</i>Github
      </a>
      <a class="link" href="https://www.linkedin.com/in/wakhid-pangestu" target="_blank">
        <i class="fab fa-linkedin">&nbsp;</i>Linkedin
      </a>
      <a class="link" href="https://www.facebook.com/h1ddd" target="_blank">
        <i class="fab fa-facebook">&nbsp;</i>Facebook
      </a>
      <a class="link" href="https://www.instagram.com/h1ddd__" target="_blank">
        <i class="fab fa-instagram">&nbsp;</i>Instagram
      </a>
      <a class="link" href="https://twitter.com/wakhid_hiddevid" target="_blank">
        <i class="fab fa-twitter">&nbsp;</i>Twitter
      </a>
      <a class="link" href="../" target="_blank">
        <i class="fa fa-link">&nbsp;</i>My Website
      </a>
    </div>

    <div id="hashtag">
      #BeHappy❤
    </div>
  </body>
</html>